.container {
	max-width: 1000px;
	margin: 20px auto;
	padding: 15px;
	text-align: center;
}

body {
    background-image: url('https://images.unsplash.com/photo-1630283017802-785b7aff9aac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;


}

.Title {
	color: rgba(228, 232, 236, 0.959);
	font-size: 40px;
	background-position-x: center;

}



.move {
	color: rgba(255, 255, 255, 0.925);
	position: center;
	font-size: 24px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.flex-container {



	background-color: burlywood;
	padding: 10px;
	gap: 4px;
	display: flex;
	position: center;
	border: 4px;
	flex: 1 1 0%;
	justify-content: center;
}

.button1{
	position:center;
	font-size:20px;
	padding:inherit;

}

.button2{
	position:center;
	font-size:20px;
	padding:inherit;
	
}
.button3{
	position:center;
	font-size:20px;
	padding:inherit;
	
}

.movesleft {
	color:white;
	position: center;
	font-size: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.results {
	position: center;
	font-size: 90px;
	color: rgb(14, 165, 102);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-position: center;
}